.app__container {
    width: 100%;
    min-height: 100vh;
    background: #c2c2c2;
    display: flex;
}

.body__container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #efefef;
}

.content__container {
    width: 100%;
    padding: 20px;
}
.content__header {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    font-weight: bolder;
    border: 1px solid rgb(223, 223, 223);
}
.content__header {
    background: #000;
    color: #fff;
    font-weight: 800;
}
.widget__container {
    padding: 10px;
    background-color: #fff;
}

.new-user__form {
    display: flex;
}

.user-btns-section__container {
    .btn {
        width: 100% !important;
        color: #fff;
        font-size: 16px;
        font-weight: 800;
    }
}
