.app__container{
    width: 100%;
    min-height: 100vh;
    background: #c2c2c2;
    display: flex;
}

.body__container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #fff;
}

.content__container{
    width: 100%;
    padding: 20px;
    
}
.content__header{
    width: 100%;
    padding: 20px;
    font-size: 24px;
    font-weight: bolder;
    border: 1px solid rgb(223, 223, 223);
}