.sidebar__container{
    padding-top:200px;
    height: 100%;
    width: 20%;
    max-width: 300px;
    background: rgb(194, 194, 194);

}

.sidebar__item{
    width: 100%;
    padding: 20px 10px;
    color: #fff;
    font-weight: bolder;
    transition: 0.8s;
    border-bottom: 1px solid rgb(223, 223, 223);
    text-align: center;
}
.sidebar__item:hover{
    background: rgb(223, 223, 223);
}
.sidebar__item--active{
    background: rgb(223, 223, 223);
}