.type-list__container{
    width: 30%;
}

.type-item__container{
    background: #fff;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.type-item__btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        margin-right: 5px;
    }
}