.type-list__container {
}
.type-form-add__container {
    margin: 10px 0;
}
.type-item__container {
    background: #fff;
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.type-item__btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
    button {
        margin-right: 5px;
        display: flex;
        flex-wrap: nowrap;
    }
}
