.users-list__container{
    width: 100%;
}
.user__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    
}
.user-header__container{
    font-size: 30px;
    font-weight: bold;

}

.instruments-item__container{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    background: #fff;

}