// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Styles
@import "sidebar";
@import "app";
@import "_usersList";
@import "_modal";
@import "_typeList";
@import "_instruments";

